nav ul li ul {display: none; position:relative; z-index:2;}
nav ul li:hover ul {display:block;}
nav ul li {float:right;width: 240px;height: 35px; text-align: center; line-height: 20px;list-style-type: none;}

h1 {color: #03715F;font-size: 68px; font-weight: bold;text-shadow: 2px 2px 2px black;text-align: center}
.ecart {display: none; position:relative;float:right;width: 80px;height: 35px;}

   



.monTexte {text-align: center;color: #035540;font-size: 24px;text-shadow: 1px 0px 0px black;position:relative; z-index:1;font-weight: bold}
  {margin: 0;padding: 0} 
.myButton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
    margin-right: 30px;
    margin-top: 5%;
    
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;